[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
django-heroku = "*"
gunicorn = "*"
python-decouple = "*"
"psycopg2-binary" = "*"
dj-database-url = "*"
django-debug-toolbar = "*"

[dev-packages]

[requires]
python_version = "3.6"
